block footer

	footer.site-footer
		.site-footer__top
			.container.cf
				a.footer-logo(href="#")
					img(src="img/footer-logo.png", alt="")
				p.footer-loc.footer-inf Россия, г. Люберцы, ул Красная 1, Литера Ц.
				a.footer-tel.footer-inf(href="tel:+7 (977) 857-81-15") +7 (977) 857-81-15
				a.footer-email.footer-inf(href="mailto:pro@teak.pro") pro@teak.pro
				ul.tel-side__social
					li.vk(style="background-image: url(img/footer-vk-ico.png)")
						a(href="#")
					li.fb(style="background-image: url(img/footer-fb-ico.png)")
						a(href="#")
					li.inst(style="background-image: url(img/footer-inst-ico.png)")
						a(href="#")
		.site-footer__bottom
			.container.cf
				p.copyright-text © 2017 TeakPro. Все права защищены
				p.madeby Разработка сайта:  
					a(href="belugalab.ru" target="_blank") Beluga Labs
