extends _layout
block content
	main.main-content
		.page-wrap
			.container.cf
				h1.page-title Блог
				aside.sidebar
					p.aside-title Категории
					ul
						li
							a(href="#") Уход и реставрация
						li
							a(href="#") Lorem ipsum dolor
						li
							a(href="#") Ut enim ad minim veniam
						li
							a(href="#") Lorem ipsum dolor
						li
							a(href="#") Ut enim ad minim veniam
						li
							a(href="#") Lorem ipsum dolor
						li
							a(href="#") Ut enim ad minim veniam
					p.aside-title Популярные товары
					.small-block
						a(href="#")
							span.img-wrap(style="background-image: url(img/sm2.jpg)")
							span.heading Стол Lorem ipsum
							span.subheading lorem ipsum dolor 
							span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
					.small-block
						a(href="#")
							span.img-wrap(style="background-image: url(img/sm2.jpg)")
							span.heading Стол Lorem ipsum
							span.subheading lorem ipsum dolor 
							span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt 
				.content
					.blog__list
						a.blog__list-item.cf(href="#")
							.img-side(style="background-image: url(img/sm2.jpg)")
							.content-side
								span.title Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
								span.date 20.02.2017
								span.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
						a.blog__list-item.cf(href="#")
							.img-side(style="background-image: url(img/sm2.jpg)")
							.content-side
								span.title Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
								span.date 20.02.2017
								span.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
						a.blog__list-item.cf(href="#")
							.img-side(style="background-image: url(img/sm2.jpg)")
							.content-side
								span.title Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
								span.date 20.02.2017
								span.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
						a.blog__list-item.cf(href="#")
							.img-side(style="background-image: url(img/sm2.jpg)")
							.content-side
								span.title Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
								span.date 20.02.2017
								span.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
						a.blog__list-item.cf(href="#")
							.img-side(style="background-image: url(img/sm2.jpg)")
							.content-side
								span.title Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
								span.date 20.02.2017
								span.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
					.pagination
						a(href="#") 1
						a(href="#") 2
						a(href="#") 3
						a(href="#") 4
						a(href="#") 5













block inlineScripts