extends _layout
block content
	main.main-content
		.page-wrap
			.container.cf
				h1.page-title Гостинная
				aside.sidebar
					p.aside-title Каталог
					ul
						li
							a(href="#") Спальня
						li.current-menu-item
							a(href="#") Гостиная
						li
							a(href="#") Столовая
						li
							a(href="#") Кабинет
						li
							a(href="#") Ванная
						li
							a(href="#") Веранда
					p.aside-title Каталог
					ul
						li
							input(type="checkbox" name="cats[]" id="cat1")
							label(for="cat1") Cтолы
						li
							input(type="checkbox" name="cats[]" id="cat2")
							label(for="cat2") Кресла
						li
							input(type="checkbox" name="cats[]" id="cat3")
							label(for="cat3") Тумбы
						li
							input(type="checkbox" name="cats[]" id="cat4")
							label(for="cat4") Зеркала
					p.aside-title Древесина
					ul
						li
							input(type="checkbox" name="materials[]" id="mat1")
							label(for="mat1") Дуб
						li
							input(type="checkbox" name="materials[]" id="mat2")
							label(for="mat2") Сосна
						li
							input(type="checkbox" name="materials[]" id="mat3")
							label(for="mat3") Карельская береза
						li
							input(type="checkbox" name="materials[]" id="mat4")
							label(for="mat4") Канадский клён
						li
							input(type="checkbox" name="materials[]" id="mat5")
							label(for="mat5") Ель
					p.aside-title Ещё возможно какой-то фильтр
					ul
						li
							input(type="checkbox" name="materials[]" id="ot1")
							label(for="ot1") Lorem ipsum
						li
							input(type="checkbox" name="materials[]" id="ot2")
							label(for="ot2") Dolor sit amet
						li
							input(type="checkbox" name="materials[]" id="ot3")
							label(for="ot3") Ut enim ad minim
						li
							input(type="checkbox" name="materials[]" id="ot4")
							label(for="ot4") Quis nostrud
				.content
					.cat__content
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt
						.small-block
							a(href="#")
								span.img-wrap(style="background-image: url(img/sm2.jpg)")
								span.heading Стол Lorem ipsum
								span.subheading lorem ipsum dolor 
								span.small-text Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt












block inlineScripts